* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

/* navber start */

.container {
    max-width: 1200px;
    margin: auto;
    /* background-color: red; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15PX 0px;
    border: 1px solid rgb(217, 214, 214);
}

nav div img {
    width: 120px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30PX;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
}

.common-button {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #1d4ed8;
    color: white;
    border: none;
    box-shadow: 6px 5px 10px #8e9096;
    cursor: pointer;
}
/* navber end, but you can cng also for sm element */


/* hero style start */
.hero-part {
    background-image: url(./image/banner.jpg);
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-written {
    color: white;
    max-width: 700px;
    /* border: 2px red solid; */
    width: 100%;
    margin-top: 120px;
}

.hero-written h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-written p {
    color: #ffffff;
    margin-bottom: 50px;
}

.hero-btn button {
    box-shadow: none;
    padding: 15px 50px;
    font-size: 20px;
    margin-top: 90px;
}

/* hero style end*/


/* speaker style start*/
.s-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 15px;
}

.s-box-unit img {
    width: 100%;
    object-fit: cover;
}

.speaker-parent {
    margin-top: 20px;
    max-width: 1050px;
}

.speaker-parent h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.sbox-1st-p {
    font-size: 12px;
    color: #2563ebFF;
    padding-bottom: 5px;
}

.s-box strong {
    font-size: 20px;
    display: block;
    padding-bottom: 5PX;
}

.sbox-2nd-p {
    font-size: 14px;
    color: #575757FF;
    ;
}

.s-box-unit {
    border: 1px rgb(212, 209, 209) solid;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
}

.s-data {
    padding-left: 20px;
    margin-top: 5px;
}
/* speaker style end */


/* Pricing card style start */
.pricing {
    padding: 100px 0px;
}

.pricing-head {
    text-align: center;
    margin-bottom: 40px;
}

.pricing-head h2 {
    font-size: 50px;
    color: black;
}

.pricing-head p {
    margin-top: 5px;
    color: #575757;
    font-size: 18px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    padding: 30px;
    color: #333333FF;
    background-color: #f8f9fbFF;
    ;
}

.card ul {
    margin-top: 15px;
    padding-left: 20px;
    flex: 1;
}

.card h3 {
    font-size: 58px;
    margin-top: 10px;
}

.card p,
.card span {
    color: #888888FF;

}

.card p {
    font-weight: bolder;
}

.card hr {
    margin: 25px 0px;
}

.card button {
    width: 100%;
    margin-top: 30px;
    background-color: white;
    color: black;
    box-shadow: 6px 5px 10px #8e9096;
    border: #5880f0 1px solid;
}

.card-2nd {
    background-color: black;
    ;
    color: #ffffffCC;
    ;
}

.card-2nd p {
    color: #93c5fdFF;
}

.card-2nd h3 {
    color: #ffffffFF;
}

.card-2nd button {
    background-color: #1d4ed8;
    box-shadow: none;
    color: white;
    border: none;
}

/* Pricing card style end */


/* something miissing css */

.journey {
    padding: 100px 0px;
    padding-bottom: 60px;
    background-color: gray;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.journey-head {
    text-align: center;
    margin-bottom: 40px;
}

.journey-head h2 {
    font-size: 50px;
    color: black;
}

.journey-head p {
    margin-top: 5px;
    color: #000000e7;
    font-size: 20px;
    margin-bottom: 25px;
}

.journey-cards{
    display: flex;
    gap: 30px;
    margin: 0px 30px;
}

.journey-card{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    padding: 30px;
    color: #333333FF;
    background-color: #f8f9fbFF;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.615) 10px 10px 10px;
}

.icon{
    font-size: 50px;
    color: #142c6cf8;
    margin-bottom: 10px;
}

.journey-cards h3{
    font-size: 30px;
    margin-bottom: 12px;
    min-height: 70px;
}

.journey-card button{
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid #2563eb;
    border-radius: 8px;
    background: white;
    color: #2563eb;
    cursor: pointer;
    width: 150px;
    box-shadow: black 5px 5px 15px;
}
/* something miissing css end*/


/* footer style */
footer {
    background-color: #010136;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-right {
    text-align: center;
    margin: 10px 0px;
}

.foot-icon-section {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
    margin-bottom: 15px;
}

.footer-right h3 {
    color: #e1dfdf;
}

.footer-left {
    color: #c0bcbc;
    margin: 10px 0px;
}

.footer-icon i{
    color: rgb(189, 162, 90);
    font-size: 30px;
    padding: 0px 25px;
}

.contact-info{
    color: #c0bcbc;
}
/* footer style end */
